.car-card {
  position: relative;
  width: 300px;
  height: 430px;
  perspective: 1200px;
  margin: 20px auto;
  overflow: hidden;
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.car-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

.car-card.flipped .car-card-inner {
  transform: rotateY(180deg);
}

.car-card-front, .car-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.car-card-front {
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.car-card-back {
  background-color: #f5f5f5;
  border: 2px solid #333333;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.car-card.expanded {
  width: 500px;
  height: 600px;
  transition: width 0.6s ease, height 0.6s ease;
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: transform 0.4s ease;
}

h2 {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.rating {
  margin-top: 45px;
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 12px;
}

.rating-change {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 10px;
}

.rating-change svg {
  font-size: 1.5rem;
  margin-right: 5px;
}

.rating-change span {
  font-weight: bold;
}

.rating-change.positive {
  color: green;
}

.rating-change.negative {
  color: red;
}

.rating-change.neutral {
  color: gray;
}

.rating-change .MuiSvgIcon-root {
  font-size: 1.5rem;
  margin-right: 5px;
}

.car-card.expanded .rating-change.negative {
  display: none;
}

.summary {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 16px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.car-card.expanded .summary {
  opacity: 1;
  max-height: 200px;
}

.explanation {
  font-size: 1rem;
  color: #666666;
  text-align: center;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #4285f4;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
}

.car-card.expanded .button {
  opacity: 1;
  transform: translateY(0);
}

.button:hover {
  background-color: #3367d6;
}

.car-card-back canvas {
  width: 100%;
  max-height: 100%; /* Ajuste de altura máxima para ocupar todo el espacio disponible */
  display: block;
  flex-grow: 1; /* Hace que el diagrama crezca para ocupar espacio */
}

.car-card.expanded .car-card-back .button {
  margin-top: 10px;
  align-self: flex-end;
}

.car-card.expanded .rating {
  margin-top: 0px; /* Ajusta este valor según sea necesario para mover el rating hacia arriba */
}
